
<div class="col-md-6">
  busca
</div>

<div class="table-responsive mt-4 pt-4">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <td>Código</td>
        <td>Data</td>
        <td>Dia</td>    
        <td>Entrada</td>
        <td>Saída</td>
        <td>Horas Computadas</td>
        <td>Horas Trabalhadas</td>
        <td>Saldo</td>
        <td>Observação</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let horario of horarios">
        <td>{{ horario.codigo }}</td>
        <td>{{ horario.data | date: 'dd/MM/yyyy' : '+0000' }}</td>
        <td>{{ horario.dia_semana }}</td>    
        <td>{{ horario.hora_inicio | date: 'HH:mm' : '-0000' }}</td>
        <td>{{ horario.hora_termino | date: 'HH:mm' : '+0000' }}</td>    
        <td>{{ horario.horas_computadas | date: 'HH:mm' : '+0000'  }}</td>
        <td>{{ horario.horas_trabalhadas | date: 'HH:mm' : '+0000'  }}</td>
        <td>{{ horario.saldo | date: 'HH:mm' : '+0000'  }}</td>
        <td>{{ horario.status}}</td>
      </tr>
    </tbody>
    <tr *ngIf="horarios?.length == 0">
      <td colspan="7">Nenhum registro encontrado!</td>
    </tr>
  </table>
</div>
